# Python
__pycache__/
*.egg-info/
*.pyo
*.pyd

# Virtual environments
.venv*
venv/

# Data
data/books.csv
*.parquet

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Private Folders
private/
notebooks/
docker/
logs/
examples/

# Environment files
.env

